/* uv-ui 与 uni-app 主题变量 */
$uv-primary: #00ffa3;
$uv-success: #00ffa3;
$uv-info: #00d4ff;
$uv-warning: #ffb547;
$uv-error: #ff2bd6;
$uv-main-color: #e8f0ff;
$uv-content-color: #b9c4d6;
$uv-tips-color: #5a6473;
$uv-bg-color: #05070d;
